.block-content {
  padding: 50px;
}

.block-content__image {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(104, 37, 37);
  border: 20px solid white;
  border-radius: 10px;
  height: 500px;

}

.block-content__image img {
  width: 100%;
}

.custom-content__item {
  padding-top: 60px;
  text-align: center;
}

.custom-content__label {
  text-transform: uppercase;
  font-size: 16px;
}

.custom-content__label span {
  padding: 5px;
  background-color: rgb(236, 199, 157);
}