.content {
  padding-top: 60px;
  padding-bottom: 50px;
}

.content__container {
  background-color: #fff;
  padding: 5px 40px 40px 40px;
}

.content__image {
  display: flex;
  padding: 20px 100px;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}

.content__image img {
  width: 100%;
}

.content__text {
  text-align: justify;
}

.content__text h2 {
  font-size: 35px;
}

.content__text p {
  font-size: 20px;
}