.header-menu {
  width: 100%;
  background-color: #505d68;
}

.header-menu__container,
.block-content__container,
.latest-news__container,
.footer__container,
.content__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header-navbar__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.header-navbar__item {
  margin: 0 10px;
  border-top: 2px solid #bbb;
  border-bottom: 2px solid #bbb;

}

.header-navbar__link {
  padding: 10px;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.5s;
}

.header-navbar__link:hover {
  background-color: rgb(51, 142, 247);
} 

.drowpdown {
  position: relative;
  display: inline-block;
}

.drowpdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 130px;
  z-index: 1;
}

.drowpdown-content a {
  color: #3d3a3a;
  padding: 12px 16px;
  display: block;
  font-size: 16px;
}

.drowpdown-content a:hover {
  background-color: rgb(51, 142, 247);
  color: #fff;
}

.drowpdown:hover .drowpdown-content {
  display: block;
}