.footer {
  background-color: black;
  padding: 50px 20px 50px;
  text-align: center;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer__logo {
  font-family: 'Fredericka the Great';
  font-size: 40px;
  color: rgb(51, 142, 247);
}

.footer__social {
  padding-top: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
}

.footer__social a {
  display: block;
  color: #ffffff;
  transition: color 0.5s;
}

.footer__social a:hover {
  color: rgb(51, 142, 247);
}

.footer__social .fab {
  font-size: 35px;
}

.footer__copy {
  padding-top: 10px;
  color: #ffffff;
}
