* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(230 236 240);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  color: black;
}

h3 {
  font-size: 30px;
  margin: 0;
}


p, a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  position: relative;
  height: 200px;
} 

.header-logo {
  background-color: black;
}

.header-logo__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header-logo__image {
  opacity: 0.7;
  position: absolute;
}

.header-logo__image img {
  width: 100%;
}

.header-logo__title {
  padding-top: 10px;
  position: relative;
  z-index: 1;
  text-align: center;
}