.latest-news__link {
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-rows: 300px 1fr;
  background-color:rgb(247, 244, 244);
  border-radius: 10px;
}

.latest-news__image {
  display: flex;
  overflow: hidden;
  padding: 10px;
  align-content: center;
  justify-content: center;
}

.latest-news__image img {
  width: 100%;
  object-fit: cover;
}

.latest-news__caption {
  display: grid;
  padding: 0 20px;
  text-align: center;
  color: #3d3d3d;
  
}

.car-btn {
  justify-content: center;
  margin-bottom: 20px;
}

.button-news__like {
  text-align: right;
  margin-right: 20px;
}