.latest-news {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: rgb(61, 58, 58);
}

.latest-news__container h2 {
  position: relative;
  display: inline-flex;
  color: #fff;
  z-index: 1;
  justify-content: center;  
  width: 100%;
}

.latest-news__container h2 span {
  background-color: #3d3a3a;
  padding: 0 10px;
}

  

.latest-news__container h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: .125rem;
  background: #ffffff;
  z-index: -1;
  top: calc(50% - .1rem);
}

.latest-news__grid {
  display: grid;
  gap: 20px;
  grid-template-areas: "p1 p2" "p3 p4" "p5 p6" "p7 p8";
}